.ventesForm{
    .ventes-container{
        .product-container-top{
            padding-bottom: 20px;
            .product-left{
                .product-h2{

                }
                span{

                }
            }
        }
        .ventes-bottom{
            background: #fff;
            padding: 30px;
            .ventes-bottom-wrapper{
                .ventes-rows{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .ventes-row{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 100%;
                        label{
                            font-size: .9rem;
                            color: #797979;
                        }
                        .ventes-select{
                            border: 1px solid #c7c7c7;
                            border-radius: 5px;
                            padding: 7px 10px;  
                            width: 100%;
                        }
                    }
                }
            }
            .ventes-row-bottom{
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                gap: 20px;
                label{
                    font-size: .9rem;
                    color: #797979;
                }
                input{
                    border: 1px solid #c7c7c7;
                    border-radius: 5px;
                    padding: 7px 10px;  
                    width: 100%;
                    outline: none;
                }
            }
        }
    }
}