.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f2f2f2;
    .login-wrapper{
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 15px;
        .login-entete{
            display: flex;
            align-items: center;
            justify-content: center;
            .login-img{
                height:160px;
                width: 160px;
                border-radius: 50%;
            }
        }
        .login-form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0px 10px 10px 10px;
            .login-controle{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .login-label{
                    font-size: .9rem;
                    span{
                        color: red;
                    }
                }
                .login-input{
                    border: 1px solid #e9e9e9;
                    background: #faf9f9;
                    padding: 10px;
                    border-radius: 5px;
                    outline: none;
                    &:focus{
                        border: 1px solid royalblue;
                    }
                }
            }
            .login-rows{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .login-mssg{
                    font-size: .9rem;
                    color: royalblue;
                }
                .btn-form{
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 10px;
                    color: #fff;
                    background: royalblue;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: .5s;
                    font-size: 1rem;
                    &:hover{
                        background: rgb(69, 93, 163);
                    }
                    .form-icon{
                        font-size: 1rem;
                    }
                }
            }
        }
        .form-bottom{
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            span{
                font-size: .890rem;
            }
            .form-news{
                color: rgb(66, 111, 236);
                font-size: .8rem;
            }
        }
    }
}