.rowTotals{
    width: 100%;
    .rowTotal-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        .rowTotal{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            border-radius: 5px;
            border: 1px solid #c2c2c2bb;
            box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            padding: 20px;
            .rowTotal-left{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: rgba(241, 6, 6, 0.171);
                .rowTotalIcon{
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
            .rowTotal-right{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .rowTotal-span{
                    font-size: .9rem;
                    color: #797979;
                    letter-spacing: 1.3;
                }
            }
        }
    }
}