.rowProduit{
    .rowProduit-wrapper{
        .rowChart-title{
            padding-bottom: 20px;
            h3{
                font-size: 1rem;
                color: rgb(1, 35, 138);
                font-weight: 400;
            }
        }
    }
}